.catalog {
  margin-bottom: 100px;
  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    &-categories button {
      padding: 5px 22px;
      border: none;
      outline: none;
      background: #f0f0f4;
      border-radius: 3px;
      opacity: 0.7;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-right: 8px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
    &-sort {
      display: flex;
      align-items: center;
    }
    &-select {
      width: 178px;

      margin-right: 34px;
      span {
        font-size: 14px;
      }
    }
    &-btngrid,
    &-btnline {
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      &.active {
        svg {
          g {
            opacity: 1;
          }
        }
      }
    }
    &-btngrid {
      margin-right: 10px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &-aside {
      min-width: 290px;
      margin-right: 10px;
    }
    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.product__item-wrapper--list {
  width: 100%;
  .product-item {
    width: 100%;
    &__hover-text {
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

//aside
.aside__btn {
  display: none;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #1c62cd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.aside-filter__tabs {
  display: flex;
  justify-content: space-between;
}

.aside-filter__tab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #c4c4c4;
  width: 50%;
  &.active {
    font-weight: 600;
    color: #2f3035;
  }
  &.active span {
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 2px solid #1c62cd;
  }
}

.pagination {
  width: 100%;
  margin-top: 40px;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-right: 8px;
      font-family: "Barlow", sans-serif;
      border: 2px solid transparent;
      padding: 6px 14px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        color: #c4c4c4;
      }
      &.active {
        border: 2px solid #1c62cd;

        a {
          font-weight: 600;
          color: #1c62cd;
        }
      }
    }
  }
}

//media

@media (max-width: 1200px) {
  .catalog {
    &__content {
      justify-content: space-around;
    }
  }
}

@media (max-width: 740px) {
  .catalog {
    &__filter {
      flex-direction: column-reverse;
      &-sort {
        margin-bottom: 26px;
      }
    }
  }
  .mobile-overflow {
    width: 450px;
  }
}

@media (max-width: 640px) {
  .catalog {
    &__content {
      flex-wrap: wrap;
    }
  }
  .aside__btn {
    display: block;
  }
}

@media (max-width: 570px) {
  .catalog {
    &__content {
      &-list {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 450px) {
  .catalog {
    &__filter {
      &-categories {
        overflow-x: scroll;
      }
    }
  }
  .pagination {
    &-list {
      &__item {
        margin-right: 0;
      }
    }
  }
}
