.products {
  .product__title {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #2f3035;
    margin-bottom: 25px;
  }
  &__tabs {
    margin-bottom: 25px;
  }
  &__tab {
    margin-right: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    &.active {
      border-bottom: 2px solid #1c62cd;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  //slider
  .tabs-content {
    display: none;
    &--active {
      display: block;
    }
  }
  .product-slider__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    z-index: 5;
    cursor: pointer;
  }
  .product-slider__slider-btnPrev {
    left: -40px;
  }
  .product-slider__slider-btnNext {
    right: -40px;
  }
  .slick-slide img {
    display: inline;
  }
  //

  .product__more {
    text-align: center;
    margin: 45px 0 80px;
    &-link {
      font-size: 15px;
      line-height: 18px;
      background: #f0f0f4;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 15px 43px;
      transition: all ease 0.2s;
      &:hover {
        background: darken(#f0f0f4, 5%);
      }
    }
  }
}

//media
@media (max-width: 1300px) {
  .product-slider {
    .slick-dots {
      bottom: -40px;
      button {
        background-color: #1c62cd;
        background: #c4c4c4;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        &::before {
          display: none;
        }
      }
      .slick-active {
        button {
          background-color: #1c62cd;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .products {
    .product__more {
      margin-top: 70px;
    }
  }
}

@media (max-width: 968px) {
  .products {
    .page-section {
      margin-top: 0;
    }
  }
  .tabs-wrapper {
    overflow-x: scroll;
  }
}

@media (max-width: 640px) {
  .product__title {
    text-align: center;
  }
  .products__container {
    text-align: center;
  }
}
