.products {
  .product__title {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #2f3035;
    margin-bottom: 25px;
  }
  &__tabs {
    margin-bottom: 25px;
  }
  &__tab {
    margin-right: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    &.active {
      border-bottom: 2px solid #1c62cd;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  //slider
  .tabs-content {
    display: none;
    &--active {
      display: block;
    }
  }
  .product-slider__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    z-index: 5;
    cursor: pointer;
  }
  .product-slider__slider-btnPrev {
    left: -40px;
  }
  .product-slider__slider-btnNext {
    right: -40px;
  }
  .slick-slide img {
    display: inline;
  }
  //

  .product__more {
    text-align: center;
    margin: 45px 0 80px;
    &-link {
      font-size: 15px;
      line-height: 18px;
      background: #f0f0f4;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 15px 43px;
      transition: all ease 0.2s;
      &:hover {
        background: darken(#f0f0f4, 5%);
      }
    }
  }
}
