.categories {
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin-bottom: 30px;
        padding: 20px 20px 14px;
        display: flex;
        justify-content: space-between;
        width: 370px;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        transition: all ease .3s;
        &:hover {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        }
        &:hover &-title {
            color: #1C62CD;
        }
        &-title {
            font-family: 'Barlow', sans-serif;
            font-weight: 600;
            font-size: 23px;
            line-height: 28px;
            color: #2F3035;
            transition: all ease .3s;
        }
        &-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &-img {
            text-align: center;
            width: 50%;
            img {
                max-width: 100%;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #C4C4C4;
            position: relative;
            &::after {
                content: url("../../img/Back.svg");
                padding-left: 2px;
            }
        }
    }
}