.header {
  &__top {
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 122px;
      font-weight: 700;
    }
    .menu {
      &__list {
        display: flex;
      }
      &__btn {
        display: none;
        width: 33px;
        background-color: transparent;
        outline: none;
        border: none;
        z-index: 2;
        cursor: pointer;
        &.change {
          .menu__btn-line:first-child {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
          }
          .menu__btn-line:nth-child(2) {
            opacity: 0;
          }
          .menu__btn-line:last-child {
            -webkit-transform: rotate(45deg) translate(-11px, -11px);
            transform: rotate(45deg) translate(-11px, -11px);
          }
        }

        &-line {
          background: #2f3035;
          border-radius: 3px;
          margin-bottom: 9px;
          height: 3px;
          transition: 0.4s;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__item {
        display: inline-block;
        margin-right: 50px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__adress {
    margin-right: 60px;
    width: 265px;
    position: relative;
    padding-left: 36px;
    &::before {
      content: "";
      background-image: url("../../img/map.svg");
      display: block;
      position: absolute;
      left: 0;
      width: 30px;
      top: -10px;
      height: 30px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
  }
  .user-list {
    display: flex;
    margin-right: 15px;
    &__item {
      padding-right: 10px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .basket {
    position: relative;
    &__num {
      font-family: "SFProDisplay-Medium", sans-serif;
      position: absolute;
      top: 10px;
      left: 23px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-weight: 500;
      font-size: 10px;
      background: #1c62cd;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
    }
  }
  // bottom

  &__bottom {
    &-content {
      background: #f0f0f4;
    }
    .menu-categories {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 53px;

      &__link {
        position: relative;
        transition: all ease 0.3s;
        padding: 15px 0 15px;
        &:hover {
          color: #000;
        }
        &.active::before {
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          background-color: #1c62cd;
          left: auto;
          bottom: -2px;
          transition: width 0.3s;
        }
        &::before {
          content: "";
          width: 0;
          height: 3px;
          position: absolute;
          background-color: #1c62cd;
          left: auto;
          bottom: -2px;
          transition: width 0.3s;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

//mobile-menu
.menu-mobile__linewrapper {
  display: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  background: #f0f0f4;
  overflow: scroll;
}
.menu__mobile-line {
  padding: 15px 0 15px 15px;
  width: 450px;
}
//
//media

@media (max-width: 1100px) {
  .header {
    &__adress {
      margin-right: 20px;
    }
    &__top {
      .menu {
        &__item {
          margin-right: 20px;
        }
      }
    }
  }
}
@media (max-width: 968px) {
  .header {
    &__top {
      .menu {
        &__list {
          display: none;
        }
        &__btn {
          display: block;
        }
      }
    }
    &__bottom {
      display: none;
    }
  }
  .menu-mobile__linewrapper {
    display: block;
  }
}

@media (max-width: 640px) {
  .header {
    &__adress {
      display: none;
    }
  }
}
